.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 45px;
}

.gallery-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
