.sidebar {
    width: 220px;
    background: #34495e;
    color: white;
    padding: 20px;
    height: 100%;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    cursor: pointer;
    padding: 12px;
    transition: 0.3s;
  }
  
  .sidebar li:hover {
    background: #1abc9c;
    border-radius: 5px;
  }
  