.container {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: rgb(252, 186, 106);
  }
  
  .title {
    color: #090909;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  